a:link{
    color: chocolate;
}

a:visited{
    color: blue;
}
/*maus u hareketlendirme ile yazili tag a geldigimizde degisikligini hover ile yapabiliyoruz.*/
a:hover{
    background-color: aqua;
    text-decoration: underline;
}