*{
    color: cornflowerblue;
}
p{
    font-size: 2rem;
}

.ortala{
font-size: 3rem;
}

.center{
    color: red;
    font-size: 2rem;
}

h2.center{
    text-align: center;
    background-color: blue;
}