.bg{
    margin-bottom: 20px;
    padding: 50px;
}
.bg1{
    background-image: linear-gradient(green, blue);
}

.bg2{
    background-image: linear-gradient(red, yellow, black);
}

.bg3{
    background-image: linear-gradient(to right, orange, green);
}

.bg4{
    background-image: linear-gradient(30deg, yellow, black);
}

.bg5{
    background-image: linear-gradient(to right, red 10%, blue);
}

.bg6{
    background-image: radial-gradient(red, green);
}

.bg7{
    background-image: radial-gradient(circle, black,yellow);
}